:root {
	--transition: all 0.3s ease-out;
}

.qty-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 110px;
	padding-right: 0.2rem;
}

.qty-container div button {
	margin: 1px;
	padding: 0 5px;
	background: #f4f4f4;
	color: #171717;
	outline: none;
	border: 1px solid #171717;
	cursor: pointer;
	transition: var(--transition);
}

.qty-container div button:hover:enabled {
	opacity: 0.9;
	background: #171717;
	color: #f4f4f4;
	transition: var(--transition);
}

.qty-container div button:disabled {
	opacity: 0.9;
	border-color: lightgray;
	color: lightgray;
	cursor: default;
	transition: var(--transition);
}

.qty-btn-container {
	display: flex;
	width: 100%;
}
