:root {
	--accent: darkgoldenrod;
	--secondary: black;
	--transition: all 0.3s ease-out;
}

.productscreen {
	display: flex;
	max-width: 1300px;
	margin: 1rem auto;
	margin-top: 120px;
}

.productscreen__left {
	display: flex;
	flex: 0.8;
}

.left__image {
	margin: 1rem;
	flex: 0.6;
}

.left__info {
	margin: 1rem;
	flex: 0.4;
	background: #fff;
	height: fit-content;
	font-size: 0.9rem;
}

.left__name {
	font-weight: bold;
	font-size: 1.3rem;
}

.left__price {
	color: #b93921;
}

.left__info > p,
.right__info > p {
	padding: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left__info > p:last-child,
.right__info > p:last-child {
	border: none;
}

.productscreen__right {
	flex: 0.2;
}

.right__info {
	width: 250px;
	margin: 1rem;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
	padding: 1rem;
	font-size: 0.8rem;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
}

.right__info p button {
	grid-column: 1/-1;
	width: 100%;
	padding: 10px 16px;
	background: #171717;
	color: #f4f4f4;
	border: 1px solid #171717;
	cursor: pointer;
}

.right__info p button:hover {
	color: orange;
	transition: var(--transition);
}
.cart__animate {
	animation: cartroll 0.6s linear;
}

@keyframes cartroll {
	0% {
		transform: translateX(-300%);
	}
	100% {
		transform: translateX(50%);
	}
}

.right__info select {
	padding: 10px 16px;
}

.qty__button {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.qty__button p {
	padding-right: 63px;
}

.cart__icon {
	padding-right: 10px;
}

.cart__warning {
	padding: 10px;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
}
.cart__warning span {
	padding: 3px 5px;
	font-size: 0.7rem;
	font-weight: 700;
	color: #fff;
	background-color: #1f98f4;
	box-sizing: border-box;
	box-shadow: 0 1px 4px rgba(12, 129, 238, 0.4);
}

@media (max-width: 960px) {
	.productscreen {
		flex-direction: column;
	}

	.productscreen__left {
		flex-direction: column;
		flex: 1;
	}

	.left__image {
		flex: 1;
	}

	.left__info {
		flex: 1;
	}

	.productscreen__right {
		flex: 1;
		padding: 1rem;
	}

	.right__info {
		width: 100%;
		margin: 0;
	}
}
