:root {
	--accent: darkgoldenrod;
	--secondary: black;
	--transition: all 0.3s ease-out;
}

.product {
	width: 300px;
	padding: 1rem;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	margin: 8px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-direction: column;
	transition: var(--transition);
}

.product > img {
	width: 100%;
	height: 170px;
	object-fit: contain;
	border-radius: 8px;
	margin-bottom: 10px;
}

.product__info > p {
	margin-bottom: 8px;
}

.info__price {
	font-weight: bold;
	color: #b93921;
}

.info__name {
	font-size: 1rem;
	overflow: hidden;
}

.info__description {
	font-size: 0.8rem;
}

.info__button {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #171717;
	width: 49%;
	padding: 5px 16px;
	cursor: pointer;
	background-color: #f4f4f4;
	border: 1px solid #171717;
	font-size: 0.8rem;
	transition: var(--transition);
}

.info__button:hover {
	background: #171717;
	color: #f4f4f4;
	transition: var(--transition);
}

.cards__item__pic {
	position: relative;
	width: 100%;
	padding-top: 67%;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cards__item__pic-wrap {
	position: relative;
	width: 100%;
	padding-top: 67%;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	transition: var(--transition);
}

.cards__item__pic-wrap::after {
	content: attr(data-category);
	position: absolute;
	bottom: 0;
	margin: 5px;
	padding: 3px 5px;
	max-width: calc((100%) - 60px);
	font-size: 0.6rem;
	font-weight: 700;
	color: #fff;
	background-color: #1f98f4;
	box-sizing: border-box;
	box-shadow: 0 1px 4px rgba(12, 129, 238, 0.4);
}

.cards__item__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
	transition: var(--transition);
}

.cards__item__img:hover {
	transform: scale(1.1);
	transition: var(--transition);
}

@media (max-width: 1232px) {
	.product {
		width: 360px;
		transition: var(--transition);
	}
}

@media (max-width: 1115px) {
	.product {
		width: 330px;
		transition: var(--transition);
	}
}

@media (max-width: 1028px) {
	.product {
		width: 300px;
		transition: var(--transition);
	}
}

@media (max-width: 950px) {
	.product {
		width: 400px;
		transition: var(--transition);
	}
}

@media (max-width: 830px) {
	.product {
		width: 330px;
		transition: var(--transition);
	}
}

@media (max-width: 700px) {
	.product {
		width: 290px;
		transition: var(--transition);
	}
}

@media (max-width: 630px) {
	.product {
		width: 450px;
	}
}

@media (max-width: 500px) {
	.product {
		width: 350px;
		transition: var(--transition);
	}
}

@media (max-width: 400px) {
	.product {
		width: 300px;
		transition: var(--transition);
	}
}
